{% extends 'auctions/layout.html' %}


{% block body %}
<div class="container">

  <div class="row row-cols-1 row-cols-md-4 g-4">
    {% for listing in object_list %}
    <div class="col">
      <div class="card">
        <a class="card-block stretched-link text-decoration-none" href="{% url 'auctions:detail_listing' listing.id %}">
          <img src="{{ listing.listing_image.url }}" class="card-img-top" style="width: 100%; height: 100%;" alt="">
          <div class="card-body">
            <h5 class="card-title">{{ listing.title_listing }}</h5>
            <p class="card-text">Price: ${{ listing.initial_bid }}</p>
            <p class="card-text">Created: {{listing.creation_date|date:"d-m-Y, h:i a"}}</p>
          </div>
        </a>
      </div>
  
    </div>
    {% endfor %}
  </div>
  <div class="row">
    <div class="col">
      {% include 'pagination.html' with page_obj=page_obj %}
    </div>

  </div>
</div>
{% endblock body %}
    